*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.container{
    min-width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 2%;
}

header{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    height: 90px;
    width: 100%;
}

.header-cont{
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
    /* background-color: aqua; */
    height: 80%;
    width: 50%;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: cadetblue;

}

a:hover{
    color: blue;
    border-bottom: 1px solid blue;
}

.nav{
    padding: 5px;
}

.box{
    width: 30%;
    background-color: rgb(0, 110, 255);
    border: 1px solid black;
    margin: 0 auto;
    padding: 3%;
    border-radius: 10px;
}
